@font-face{
    font-family: retro;
    src: url('../../assets/fonts/Retro.ttf');
}

@font-face{
    font-family: big;
    src: url('../../assets/fonts/BigPixel.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Header|footer*/

body{
    background: linear-gradient(to bottom,#240b3c 0.5%, #1E1E1E 70%);
    
    font-family: big;
}




#rights{
display: inline-block;
margin-left: 11%;
padding-top: 20px;
word-wrap: break-word;
max-width: 850px;
font-size: 11px;
color: rgb(179, 179, 179);
}

.navFooter{
font-size: 12px;
margin-left: 11%;
margin-top: 20px;
}

.navFooter a {
margin-right: 20px;
color: rgb(155, 155, 155);
text-decoration: none;
transition: .3s;
}

.navFooter a:hover{
color: rgb(194, 194, 194);
}

.container{
color: rgb(189, 189, 189);
}

/*Header*/

.header{
    width:100%;
    height: 100px;
    background-color: #160625;
    
}

.nav{
    margin-left: 130px;
    padding-top: 35px;
}

.nav a{
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    color: rgb(218, 218, 218);
    margin-left: 30px;
    border: 2px transparent;
    transition: .3s;
}

.nav a:hover{
    border-bottom: 2px solid ;
    color: #7e2ab6;
    cursor: pointer;
    text-shadow: /*0 0 0.2em hsl(0 0% 100% / 0.5),*/ 0 0 1em #7e2ab6;

    /*box-shadow: 0 10px 1em -0.3em #7e2ab6;*/
}

#ghostLogo{
    width: 125px;
    height: 76px;
    /*fill: linear-gradient(101.9deg, #6477DD 7.67%, #C753C1 52.66%, #DC1DC3 93.7%);*/
    margin-top: 6px;

}

#heartIcon{
    display: inline-block;
    font-size: 16px;
    color: rgb(218, 218, 218);
    margin-left: 60px;
    transition: .3s;
}

#heartIcon:hover{
    color: #7e2ab6;
    text-shadow:  0 0 1em #7e2ab6;
    cursor: pointer;
}

#heartText{
    display: inline-block;
    margin-left: 10px;  
    font-family: big;
}

#cartIcon{
    display: inline-block;
    font-size: 16px;
    color: rgb(218, 218, 218);
    margin-left: 40px;
    transition: .3s;
}

#cartIcon:hover{
    color: #7e2ab6;
    text-shadow:  0 0 1em #7e2ab6;
    cursor: pointer;
}


.headContent{
    display: flex;
    margin-left: 8%;
}

.headerProf{
    margin-left: 130px;
    padding-top: 23px;
}

.headerProf a{
    display: inline-block;
    text-decoration: none;
}

#headImg{
    border: 1px solid rgb(143, 143, 143); 
    transition: .7s;
}

#headImg:hover{
    border: 1px solid #915bc7; 
}

#userHeader{
    color: rgb(189, 189, 189);
    margin-left: 4px;
    position: relative;
    top: -25px;
    transition: .4s;
}

#userHeader:hover{
    color: #7e2ab6;
    cursor: pointer;
    text-shadow: 0 0 1em #7e2ab6;
}

#arrDownIcon{
    font-size: 14px;
    margin-left: 2px;
}

#headMoney{
    display: block;
    position: relative;
    font-size: 11px;
    left: 48px;
    top: -15px;
    color: rgb(163, 163, 163);
    transition: .4s;
}

#headMoney:hover{
    color: rgb(189, 189, 189);
}

#logout{
    display: block;
    position: relative;
    color: rgb(163, 163, 163);
    font-size: 10px;
    left: 115px;
    top: -29px;
    transition: .4s;
}

#logout:hover{
    cursor: pointer;
    color: rgb(189, 189, 189);
}

.loginButtonH a{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    border: 0px;
    background: linear-gradient(101.9deg, #7273D9 7.67%, #B35BC7 52.66%, #D927C3 93.7%);
    border-radius: 8px;
    color: rgb(218, 218, 218);
    width: 140px;
    height: 40px;
    text-align: center;
    padding-top: 11px;
    margin-left: 170px;
    margin-top: 27px;
    transition: .3s;
}

.loginButtonH a:hover{
    text-shadow:  0 0 1em #7e2ab6;
    box-shadow:  0 0 0.5em #7e2ab6;
    color: rgb(235, 235, 235);
}

/*Profile*/


.prof-back{
    color: rgb(212, 212, 212);
    width: 750px;
    height: 100%;
    margin: auto;
    background-color: #3d3d3de1;
    /*background-color: rgba(34, 35, 48, 0.93);*/
    background-image: linear-gradient(to right, rgba(109, 38, 44, 0.301), rgba(50, 255, 193, 0.103))
}

.content{
    display: flex;
}

#avBig {
    width: 150px;
    height: 150px;
    margin-left: 25px;
    margin-top: 25px;
    border-radius: 8px;
    border: solid 3px #4c35a8;
}


#nmDisplay{
    display: inline-block;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 8px;
}

#quest{
    position: relative;
    width: 15px;
    height: 15px;
    left: -33px;
    margin-top: 85px;
}

.infoDisplay{
    
    width: 285px;
    height: 145px;
    margin-left: 10px;
    margin-top: 28px;
    word-wrap: break-word;
}

#inf{
    display: inline-block;
    font-size: 12px;
    margin-top: 6px;
    margin-left: 10px;
    color: rgb(192, 192, 192);
    
}

#desc{
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 18px;
    overflow-wrap: break-word;
    color: rgb(192, 192, 192);
}

.recent{
    display: block;
    width: 60%;
    height: 35px;
    border-radius: 10px;
    margin-left: 13px;
    margin-top: 40px;
    background-color: #363636;
}

.recent span {
    display: inline-block;
    font-size: 18px;
    padding: 6px;
    margin-left: 8px;
}

.ac1{
    width: 60%;
    height: 80px;
    background-color: #363636;
    margin-left: 13px;
    margin-top: 10px;
    border-radius: 8px;
}

.ac2{
    width: 60%;
    height: 80px;
    background-color: #363636;
    margin-left: 13px;
    margin-top: 10px;
    border-radius: 8px;
}

.ac3{
    width: 60%;
    height: 80px;
    background-color: #363636;
    margin-left: 13px;
    margin-top: 10px;
    border-radius: 8px;
}


.level{
    position: absolute;
    font-size: 20px;
    padding: 42px;
    margin-left: 0px;
}

#lvlN{
    display: inline-block;
    position: relative;
    top: -2px;
    left: 2px;
    font-size: 17px;
    border-radius: 50%;
    border: solid rgb(78, 155, 226) 2px;
    height: 28px;
    width: 28px;
    line-height: 26px;
    text-align: center;
}

.prof-back a {
    width: 130px;
    height: 30px;
    font-size: 11px;
    color: rgb(212, 212, 212);
    text-decoration: none;
    border-radius: 8px;
    background: linear-gradient(101.9deg, #7273D9 7.67%, #B35BC7 52.66%, #D927C3 93.7%);
    text-align: center;
    padding: 8px;
    position: relative;
    left: 40px;
    top: 120px;
    transition: 0.3s;
}

.prof-back a:hover {
    color: rgb(228, 228, 228);
}

.games{
    width: 220px;
    height:380px;
    border-radius: 8px;
    background-color: #363636;
    margin-left: 510px;
    position: relative;
    top: -306px;
}

#gm{
    display:block;
    padding: 10px;
}


/*Responsivo*/

@media screen and (max-width: 1400px) {

    /*Header*/
    .nav{
        margin-left: 5%;
    }

    .nav a {
        font-size: 16px;
        margin-left: 10px;
    }

    #heartIcon{
        font-size: 16px;
        margin-left: 20px;
    }

    #cartIcon{
        font-size: 16px;
        margin-left: 15px;
    }
}


@media screen and (max-width: 1200px) {

    /*Header*/
    .nav{
        margin-left: 2%;
    }

    .loginButtonH{
        margin-left: -50px;
    }
}

@media screen and (max-width: 1100px) {

    /*Header*/

    .nav{
        margin-left: 1%;
    }

    .loginButtonH{
        margin-left: -80px;
    }
}

@media screen and (max-width: 1030px) {

    /*Header*/

    .header{
        height: 80px;
    }

    .nav{
        display: none;
    }

    .loginButtonH{
        display: none;
    }


    .headerProf{
        display: none;
    }

    .headContent{
        margin-left: 44%;
    }

}


@media screen and (max-width: 600px){

    /*Header*/

    .headContent{
        margin-left: 38%;
    }


 

}

@media screen and (max-width: 500px){
 /*Footer*/

    #rights{
        font-size: 10px;
    }
    
    .navFooter{
        font-size: 10px;
        margin-left: 12%;
    }
    
    .navFooter a{
        margin-left: -6px;
    }

   
}